.search {
  font-family: Jost, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  form {
    display: flex;
  }
  select {
    border: none !important;
    padding: 0px 150px 0px 20px;
    margin-right: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #ccc;
    background-color: var(--white);
    color: var(--black);
    border-radius: 3px;
    cursor: pointer;
  }
  button {
    border-radius: 3px;
    background-color: var(--black);
    color: white;
    cursor: pointer;
    border: none;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    transition: .5s all;
    svg {
      margin-right: 10px;
      font-size: 22px;
      stroke-width: 1px;
    }
    p {
      font-weight: 600;
      font-size: 13px !important;
    }
    &:hover {
      background-color: var(--orange);
    }
  }
}

@media only screen and (max-width: 800px) {
  .search {
    select {
      padding: 0px 100px 0px 20px;
    }
    button {
      padding: 20px 20px;
    }
  }
}

@media only screen and (max-width: 670px) {
  .search {
    select {
      padding: 0px 60px 0px 20px;
    }
    button {
      padding: 20px 10px;
    }
  }
}

@media only screen and (max-width: 570px) {
  .search {
    form {
      width: 100%;
      flex-direction: column;
      place-items: center;
    }
    select {
      margin-right: 0px;
      padding: 20px 10px;
      width: 85%;
      margin-top: 10px;
    }
    button {
      margin-top: 10px;
      width: 85%;
      justify-content: center;
    }
  }
}
