.home__banner {
  background-image: url("../../../assets/Home/Banner/search-background.png");
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  flex-direction: column;
  font-family: Jost, sans-serif;

  p:nth-child(1) {
    animation: reveal 4s;
    letter-spacing: 2px;
    text-align: center;
  }

  h2 {
    animation: reveal 5s;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    padding: 20px 10px;
    letter-spacing: 2px;
  }
}

@media only screen and (max-width: 600px) {
  .home__banner {
    h2 {
      font-size: 40px;
    }
  }
}

@media only screen and (max-width: 400px) {
  .home__banner {
    padding-top: 50px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
