@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --warm-white: #f2ede3;
  --warm-white2: #f1ede2;
  --white: #fafaf7;
  --gray: #efefea;
  --orange: #eb5e37;
}
